* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
form {
height: 250px;
/* debug color */
background-color: aqua;
}
.myBox {
    height: 250px;

    /* debug color */
    background-color: aqua;
}